.btn {
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    padding: 13px 20px;
    border-bottom: 4px solid $red;
    color: $white;
    text-transform: uppercase;
    white-space: nowrap;
    background: $black;
    cursor: pointer;
    letter-spacing: 1px;
    outline: none;
    @include transition(all $mediumDuration ease-out);

    &:hover {
        background-color: $gray;
    }
}