.btn {
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: .5px;
    padding: 13px 20px;
    border-bottom: 4px solid $red;
    color: $white;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: inherit;
    background: $black;
    cursor: pointer;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    @include transition(all .3s ease-out);

    &:hover {
        color: $black;
        background-color: $white;
        border-bottom: 4px solid $black;
    }
}