/*---------- layout
-----------------------------------------------------------*/
html {
    #border-box {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $font-main;
    font-size: 14px;
    color: $black;

    background-color: $white;
    
//    background-image: url(../../assets/img/content/napustena-zgrada.jpg);
    
    .tp-container {
        opacity: 0;
        position: fixed;
        right: 17px;
        bottom: 88px;
        z-index: 999;
        width: 50px;
        height: 50px;
    }
    
    .tp-show {
        opacity: 1;
        background-color: rgba($white, .7);
        @include border-radius(4px);
        @include transition-duration(.3s);
        overflow: hidden;
        i {
            position: absolute;
            top: -2px;
            left: 7px;
            color: $black;
        }
        &:hover {
            background-color: rgba($black, .7);
            i {
                color: $white;
            }
        }
    }
    @include breakpoint(tablet) {
    }
    @include breakpoint(phone) {
        .tp-container {
            right: 17px;
            bottom: 107px;
        }
    }
}

#preloader { 
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    overflow: visible; 
    background: $white url(../../assets/img/Preloader_3.gif) no-repeat center center; 
}

//.fix-body {
//    margin-top: 90px;
//}

.animation-element {
    opacity: 0;
    position: relative;
}
.slide-up {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(0, -100px, 0);
    -webkit-transform: translate3d(0, -100px, 0);
    -o-transform: translate(0, -100px);
    -ms-transform: translate(0, -100px);
    transform: translate3d(0, -100px, 0);
}
.slide-down {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(0, 100px, 0);
    -webkit-transform: translate3d(0, 100px, 0);
    -o-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    transform: translate3d(0, 100px, 0);
}
.slide-left {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(-100px, 0px, 0px);
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
}
.slide-right {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(100px, 0px, 0px);
    -webkit-transform: translate3d(100px, 0px, 0px);
    -o-transform: translate(100px, 0px);
    -ms-transform: translate(100px, 0px);
    transform: translate3d(100px, 0px, 0px);
}
.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.main-grid {
    max-width: 1200px;
    min-width: 260px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .col-two {
        float: left;
        text-align: center;
        position: relative;
        width: 48%;
        margin-right: 4%;
        padding: 5px 0;

        &:last-of-type {
            margin-right: 0;
        }
    }
    .col-three {
        float: left;
        text-align: center;
        position: relative;
        width: 32%;
        margin-right: 2%;
        padding: 5px 0;

        &:last-of-type {
            margin-right: 0;
        }
    }
    .col-four {
        float: left;
        text-align: center;
        position: relative;
        width: 24%;
        margin-right: 1.2%;

        &:last-of-type {
            margin: 0;
        }
    }
    .no-margine {
        margin-right: 0;
        border: 0;
    }

    @include breakpoint(tablet) {
        padding: 0 20px;
    }
    @include breakpoint(phone) {
        padding: 0 20px;
        body {
        .tp-container {
            right: 17px;
            bottom: 88px;
        }
        }
    }
}




























