body {
    font-family: $font-main;
    font-size: 14px;
    color: $black;

    background-color: $white;
    //    background: -moz-linear-gradient(left,rgba(128,128,128,0),rgba(128,128,128,1)), url('../../assets/img/content/pola_glave.png') no-repeat left fixed;
    //    background: -webkit-linear-gradient(left,rgba(128,128,128,0),rgba(128,128,128,1)), url('../../assets/img/content/pola_glave.png') no-repeat left fixed;
    //    background: -o-linear-gradient(left,rgba(128,128,128,0),rgba(128,128,128,1)), url('../../assets/img/content/pola_glave.png') no-repeat left fixed;
    //    background: -ms-linear-gradient(left,rgba(128,128,128,0),rgba(128,128,128,1)), url('../../assets/img/content/pola_glave.png') no-repeat left fixed;
    //    background: linear-gradient(left,rgba(128,128,128,0),rgba(128,128,128,1)), url('../../assets/img/content/pola_glave.png') no-repeat left fixed;
}

.fix-body {
    margin-top: 120px;
}

h1 {
    font-weight: 900;
    font-size: 60px;
    line-height: 50px;
}

h2 {
    font-weight: 300;
    font-size: 50px;
    line-height: 80px;
    padding: 40px 0;
}

h3 {
    font-weight: 300;
    font-size: 22px;
    line-height: 50px;
}

h4 {
    font-weight: 900;
    font-size: 20px;
    line-height: 60px;
}

h5 {
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
}

p {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

a {
    color: $black;
    text-decoration: none;
}

.bold {
    font-weight: 900;
}
