h1 {
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
}

h2 {
    font-weight: 300;
    font-size: 40px;
    line-height: 35px;
    text-transform: uppercase;
    padding: 40px 0 20px 0;
}

h3 {
    font-weight: 300;
    font-size: 22px;
    line-height: 20px;
}

h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

h5 {
    font-weight: 700;
    font-size: 16px; 
    line-height: 30px;
}

h6 {
    font-size: 20px;
    line-height: 30px;
    padding: 20px;
    max-width: 466px;
    margin: 0 auto 40px auto;
    border-left: 4px solid $red;
}

p {
    font-weight: 300;
    font-size: 13.5px;
    line-height: 30px;
}

a {
    color: $black;
    text-decoration: none;
}

.bold {
    font-weight: 900;
}
