/*---------- sprite
------------------------------------------------------------------------------*/
@mixin sprite($sprite) {
    background: sprite-url($icons) no-repeat sprite-position($icons, $sprite);
    height: image-height(sprite-file($icons, $sprite));
    width: image-width(sprite-file($icons, $sprite));
}

/*---------- breakpoints
------------------------------------------------------------------------------*/
@mixin breakpoint($breakpoint) {
    @if $breakpoint == "phone" {
        @media only screen and (min-width: 50px) and (max-width: 630px) {
            @content;
        }
    }
    
    @if $breakpoint == "phoneBig" {
        @media only screen and (min-width: 320px) and (max-width: 360px) {
            @content;
        }
    }
    
    @if $breakpoint == "phoneNexus" {
        @media only screen and (min-width: 361px) and (max-width: 590px) {
            @content;
        }
    }
    @if $breakpoint == "phone600" {
        @media only screen and (min-width: 384px) and (max-width: 590px) {
            @content;
        }
    }
    @else if $breakpoint == "phonePod" {
        @media only screen and (min-width: 480px) and (max-width: 568px) {
            @content;
        }
    }
    
    @else if $breakpoint == "ipad" {
        @media only screen and (min-width: 768px) and (max-width: 800px) and (min-height: 1024px) {
            @content;
        }
    }
    
    @if $breakpoint == "phoneXBig" {
        @media only screen and (min-width: 600px) and (max-width: 602px) and (min-height: 1280px) {
            @content;
        }
    }
    
    @else if $breakpoint == "tablet" {
        @media only screen and (min-width: 631px) and (max-width: 896px) {
            @content;
        }
    }
}