.footer {
    clear: both;

    .footer-top {
        background-color: $white;
        .social-icons {
            text-align: center;
            padding-top: 15px;
            img {
                width: 50px;
                height: 50px;
                @include translateY(-7px);
            }
            li {
                display: inline;
                margin: 0 10px;
                transform: translateY(10px);
                span {
                    min-width: 50px;
                    padding: 0 10px;
                }
            }
        }
    }
    .footer-bottom {
        padding: 25px 0;
        border-top: 1px solid $gray-light;
        color: $gray-light;
        background-color: $gray-dark;
        p {
            float: left;
            font-weight: 300;
            font-size: 15px; 
        }
        ul {
            float: right;
            @include translateY(6px);
            li {
                display: inline-block;
                padding: 0 10px;
                border-right: 1px solid $gray-light; 
                &:last-of-type {
                    border: 0;
                }
                > a {
                    @include transition(all .3s ease-out);
                    color: $white;
                    font-weight: 300;
                    &:hover {
                        color: $gray-light;
                        padding-bottom: 5px;
                        border-bottom: 1px solid $red;
                    }
                }
            }
        }
    }

    @include breakpoint(tablet) {
        .footer-bottom {
            .left {
                p {
                    font-size: 11.4px;
                }
            }
            .right {
                li {
                    padding: 0 3.92187px;
                    &:first-of-type {
                        padding-left: 0;
                    }
                    a {
                        font-size: 9.9px;
                    }
                }
            }
            ul {
                @include translateY(4px);
            }
        }
    }
    @include breakpoint(phone) {
        .footer-top {
            .social-icons {
                li {
                    margin: 0 2px;
                }
            }
        }
        .footer-bottom {
            .left {
                overflow: hidden;
                p {
                    font-size: 11.4px;
                }
            }
            .right {
                li {
                    padding: 0 3.92187px;
                    &:first-of-type {
                        padding-left: 0;
                    }
                    a {
                        font-size: 8.5px;
                    }
                }
            }
            ul {
                float: none;
            }
        }
    }
}