.header {
    background-color: $gray-dark;
    text-align: center;
    position: absolute;
    z-index: 999;
    width: 100%;
    .logo {
        height: 70px;
        width: 70px;
        padding: 10px 0;
    }
    .show {
        display: block;
    }
    .none {
        display: none;
    }
    .none-logo {
        display: none;
    }
    .hide-nav-btn {
        display: none;
    }
    .mobile-nav {
        display: none;
    }
    ul.menubar {
        list-style: none;
        > a {
            float: left;
        }
        > li {
            display: inline-block;
            position: relative;
            margin-top: 32px;
            > a {
                font-size: 18px;
                color: $white;
                font-weight: 700;
                display: block;
                text-transform: uppercase;
                margin: 0 12px;
                text-decoration: none;
                @include transition-duration(.3s);
                @include transition-timing-function(ease-out);
                &:hover {
                    color: $gray-light;
                    padding-bottom: 31px;
                    border-bottom: 2px solid $red;
                }
            }
        }
        .active {
            color: $gray-light;
            padding-bottom: 31px;
            border-bottom: 2px solid $red;
        }
        > span {
            float: right;
            margin-top: 35px;
            > a {
                margin-right: 13px;
            }
        }
    }
    .fix-nav {
        z-index: 9999;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: $gray-dark;
    }

    @include breakpoint(tablet) {
        ul.menubar {
            > li {
                margin-top: 35px;
                > a {
                    margin: 0 7px;
                    font-size: 15px;
                    &:hover {
                        padding-bottom: 32px;
                    }
                }
            }
            > span {
                > a {
                    font-size: 12px;
                }
            }
            .active {
                padding-bottom: 32px;
            }
        }
    }
    @include breakpoint(phone) {
        .mobile-icon {
            position: absolute;
            top: 24px;
            right: 20px;
            color: $gray-light;
            &.up-icon {
                top: 20px;
            }
        }
        .logo-mob-nav {
            float: left;
            width: 70px;
            height: 70px;
            margin: 10px 0;
            padding: 0 0 10px 20px;
        }
        .none-logo {
            display: block;
            padding: 10px 0 10px 20px;
        }
        .nav {
            display: none;
        }
        .hidden {
            display: none;
        }
        .hide-nav-btn {
            display: block;
            float: right;
        }
        .mobile-nav {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 60;
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
            width: 100%;
            display: block;
            float: left;
            clear: both;
            background-color: $gray-dark;

            .sub-menu {
                padding: 0 0;
            }
            ul.mobile-links {
                clear: both;
                background-color: $gray-dark;
                li {
                    padding: 10px 0;
                    a {
                        color: $gray;
                        font-weight: 300;
                        text-transform: uppercase;
                        @include transition-duration(.3s);
                        &:hover {
                            color: $gray-light;
                        }
                    }
                }
                span {
                    border-top: 1px solid $black;
                    padding-top: 15px;
                    > a {
                        padding: 0 15px;
                        line-height: 100px;
                    }
                }
            }
        }
        .none {
            display: none;
        }
    }
}